<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Admin page</h1>
    <h5>You logged in to admin page.</h5>
    <hr />
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet deleniti
      ratione iusto doloribus saepe adipisci nesciunt provident rem, quam
      excepturi itaque quos commodi eveniet at illo veritatis vel totam fugit.
    </p>

    <form class="w-full" method="post" action="/api/v1/auth/logout">
      <button type="submit">Logout</button>
    </form>
  </body>
</html>
